.about{
    /* background-color: green; */
    grid-column: 1/-1;
}



.about{
    margin-top: 400px;
}


.box{
    margin-left: 40rem;
    /* border: 1px solid black; */
    width: 40%;
    display: inline-block;
}

.about_title{
    text-align: start;
    font-size: 50px;
    font-weight: lighter;
    padding: 0%;
    margin: 0;
}


.about_title span{
    color: #1E88E5;
    text-align: start;
}

.about_title_2{
    text-align: start;
    
}

.text{
    text-align: start;
    padding: 0px;
}




.image {
    background-image: url(../image/person1.jpg);
    width: 204px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 520px;
    /* left: 398px; */
    animation: img 1s ease forwards;
    border: 10px solid white;

}

.about_btn {
    position: relative;
    top: 45px;
    right: 612px;
    background-color: transparent;
    color: black;
    border:3px solid #1E88E5;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all ease .3s;
}

.about_btn:hover{
    color: white;
    background-color: #1E88E5;
    font-weight: 600;
    cursor: pointer;
}

@keyframes img{
    100%{
        transform: translateX(398px)
    }
}

.back_border{
    border: 5px solid #1E88E5;
    width: 204px;
    height: 300px;
    position: relative;
    bottom: 187px;
    left: 360px;
    opacity: 0;
    animation: border ease 2s forwards;
}

@keyframes border{
    100%{
        opacity: 1;
    }
}