
.contact{
    /* background-color: pink; */
    grid-column: 3/7;
}

.main_4{
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-bottom: 100px;
}

.items{
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: -5px 8px 20px rgba(0, 0, 0, 0.336);
    text-align: center;
    position: relative;
    transition: all ease .3s;
}

.items:hover{
    transform: scale(1.1);
}

.contact_title{
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.contact_title span{
    color: #1E88E5;
}

.axs{
    position: absolute;
    top: 25px;
    left: 30px;
}

.img_contact{

    width: 75px;
    height: 75px;
}

.img_contact2{
    width: 64px;
    height: 64px;
}


.texts{
   position: absolute;
   top: 30px;
   left: 40%;
   text-align: start;
}

