.project{
    grid-column: 3/7;
}


.pj_main{
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(5,300px);
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas: "b a" "c d"
                         "f e" "g h"
                         "j i";
}

.pj_main_title{
    color: black;
    margin-top: 400px;
    /* margin-right: 10px; */
    text-align: center;
    font-size: 50px;
    font-family: 'Quintessential', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.title span{
    color: #1E88E5;
}

.img{
    background-image: url(../image/item.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: all ease .4s;
}
.img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

.img:hover{
    transform: scale(1.02);
}


.pj_title{
    color:white;
    font-size: 30px;
    text-align: start;
    padding-left: 7%;
    padding-top: 17%;
}

.pj_title_2{
    color: white;
    font-size: 20px;
    text-align: start;
    padding-left: 7%;
    padding-top: 2%;
}

.pj_text{
    color: white;
    font-size: 15px;
    text-align: start;
    padding-left: 7%;
    padding-top: 2%;
}

.pj{
    transition: all ease .4s;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.pj1{
    grid-area: a;
}.pj2{
    grid-area: c;
}.pj3{
    grid-area: e;
}.pj4{
    grid-area: g;
}.pj5{
    grid-area: i;
}

.img1{
    grid-area: b;
}.img2{
    grid-area: d;
}.img3{
    grid-area: f;
}.img4{
    grid-area: h;
}.img5{
    grid-area: j;
}

